

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Days One', sans-serif;
}


#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid white; */
    max-width: 100%;
    max-height: 100%;
}

#playerImage, 
#backgroundImage,
#enemyImage{
    display: none;
}

.fullScreenButton {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    top: 10px;
    left: 50%;
    border-radius: 25px;
    border: 5px solid #fff;
    transform: translateX(-50%);
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    z-index: 2000;
    display: block;
    
}
.fullScreenButton:hover {
    font-size: 22px;
    background: red;
}
.fullScreenButton.active {
    display: none;
}
.fullScreenButton1 {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    top: 10px;
    left: 50%;
    border-radius: 25px;
    border: 5px solid #fff;
    transform: translateX(-50%);
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
    display: none;
}
.fullScreenButton1.active {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    top: 10px;
    left: 50%;
    border-radius: 25px;
    border: 5px solid #fff;
    transform: translateX(-50%);
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
    display: block;
}

.tombol {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;
    display: none;
}
.tombol.active{
    display: block;
     position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;
}
.tow {
    height: 50%;
    width: 50%;
    flex-direction: column;
    position: absolute;
}
.tow span {
    position: absolute;
    left: 10px;
    height: 100px;
    width: 30px;
    animation: moveUpSpan 2s linear infinite;
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
   
}

.tombol i {
    right: -15px;
    position: relative;
    font-size:  4rem;
    color: #56e7d6;
    transform: rotate(27%);
    rotate: -30deg;
    animation: moveUp 2s linear infinite;
    
    
}



@keyframes moveUp {
    0% {
        top: 70%;
    }
    50% {
        top: 0%;
        
        
    }
}
@keyframes moveUpSpan {
    0% {
        top: 70%;
        background-image: linear-gradient(to top, transparent, #56e7d6);
        opacity: 0.5;
    }
    50% {
        top: 0%;
        background-image: linear-gradient(to top, transparent, #56e7d6);
        opacity: 0.5;
        
    }
}



/* Modal Box */
.modal{
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.6);
  }
  
  .modal .modal-container
  {
    position: relative;
    background-color: #fefe;
    margin: 5% auto;
    padding: 1.2rem;
    border-radius: 1rem;
    width: 80%;
    height: 80%;
    animation: modalAnimation 0.5s;
  
  }
  
  /* modal animation */
  @keyframes modalAnimation {
    from {
      top: -300px;
      opacity: 0;
    }
    to{
      top: 0;
      opacity: 1;
    }  
  }
  
  .modal .modal-container .close-icon{
    position: absolute;
    right: 1rem;
  
  }
  
  .modal .modal-content
  {
    flex-wrap: nowrap;
    height: 100%;
  }
  .modal .modal-content .game-question-container{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .modal .modal-content .game-question-container img{
    width: 30rem;
    height: 30rem;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }



.game-options-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 35%;
    height: 3rem;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
   
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: white;
    
}

input[type="radio"] {
    position: relative;
    display: none;
    margin-bottom: 10px;
}


input[type=radio]:checked ~ .option {
   
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
}

.modal-container-1{
    display: none;
    position: fixed;
    z-index: 10000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}
.modal-container-2{
    display: none;
    position: fixed;
    z-index: 10000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}
.icon-salah {
    font-size: 9rem;
    color: #F78CA2;

}
.modal-content-container{
    height: 25rem;
    width: 25rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    color: lightgray;
    text-align: center;
}
.modal-content-container .modal-button-container  a{
    text-decoration: none;
    font-size: 17px;
    background-color: #96c93d;
    padding: 50px 20px;
    color: #fff;
    text-align: center;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .game-details-container{
    width: 90%;
    height: 4rem;
    background-color: #00b09b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 1.2rem;
}
.game-options-container {
    width: 100%;
    height: 100%;
}

.game-question-container {
    font-size: 10px;
    text-align: center;
    margin: 10px;
}
.next-button-container  {
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.next-button-container a {
    border: 5px solid #fff;
    transform: translateX(-50%);
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    padding: 10px 30px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

@media (max-width: 843px) {
    .modal .modal-container {
        background-color: yellow;
        width: 90%;
        overflow: auto;
    }
    .modal .modal-content .game-question-container img{
        width: 30%;
        height: 30%;
    }
    .game-options-container {
        top: -100px;
    }
    .game-options-container span{
        width: 5rem;
        font-size: 10px;
    }
    .next-button-container a {
        border: 2px solid #fff;
        transform: translateX(-50%);
        transition: all ease 1;
        background-image: linear-gradient(to top, #00b09b, #96c93d);
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        padding: 10px 30px;
        font-size: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 10px;
    }
}