

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Days One', sans-serif;
}


#canvas1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 5px solid white; */
    max-width: 100%;
    max-height: 100%;
}

#playerImage, 
#backgroundImage,
#enemyImage{
    display: none;
}

.fullScreenButton {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    top: 10px;
    left: 50%;
    border-radius: 25px;
    border: 5px solid #fff;
    transform: translateX(-50%);
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    z-index: 2000;
    display: block;
    
}
.fullScreenButton:hover {
    font-size: 22px;
    background: red;
}
.fullScreenButton.active {
    display: none;
}
.fullScreenButton1 {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    top: 10px;
    left: 50%;
    border-radius: 25px;
    border: 5px solid #fff;
    transform: translateX(-50%);
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
    display: none;
}
.fullScreenButton1.active {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    top: 10px;
    left: 50%;
    border-radius: 25px;
    border: 5px solid #fff;
    transform: translateX(-50%);
    transition: all ease 1;
    background-image: linear-gradient(to top, #00b09b, #96c93d);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;   
    display: block;
}

.tombol {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;
    display: none;
}
.tombol.active{
    display: block;
     position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;
}
.tow {
    height: 50%;
    width: 50%;
    flex-direction: column;
    position: absolute;
}
.tow span {
    position: absolute;
    left: 10px;
    height: 100px;
    width: 30px;
    animation: moveUpSpan 2s linear infinite;
    border-radius: 10px 10px 0px 0px;
    margin-top: 20px;
   
}

.tombol i {
    right: -15px;
    position: relative;
    font-size:  4rem;
    color: #56e7d6;
    transform: rotate(27%);
    rotate: -30deg;
    animation: moveUp 2s linear infinite;
    
    
}



@keyframes moveUp {
    0% {
        top: 70%;
    }
    50% {
        top: 0%;
        
        
    }
}
@keyframes moveUpSpan {
    0% {
        top: 70%;
        background-image: linear-gradient(to top, transparent, #56e7d6);
        opacity: 0.5;
    }
    50% {
        top: 0%;
        background-image: linear-gradient(to top, transparent, #56e7d6);
        opacity: 0.5;
        
    }
}



/* Modal Box */
.modal{
    /* display: none; */
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.6);
  }
  
  .modal .modal-container
  {
    position: relative;
    background-color: #fefe;
    color: var(--bg);
    margin: 5% auto;
    padding: 1.2rem;
    border-radius: 1rem;
    width: 80%;
    animation: modalAnimation 0.5s;
  
  }
  
  /* modal animation */
  @keyframes modalAnimation {
    from {
      top: -300px;
      opacity: 0;
    }
    to{
      top: 0;
      opacity: 1;
    }  
  }
  
  .modal .modal-container .close-icon{
    position: absolute;
    right: 1rem;
  
  }
  
  .modal .modal-content
  {
    display: flex;
    flex-wrap: nowrap;
  }